<div class="container">
  <div>
    <ul class="nav navbar-nav">
      <li><a href="#profile">profile</a></li>
      <li><a href="#Personal information">Personal information</a></li>
      <li><a href="#Education">Education</a></li>
      <li><a href="#Employment">Employment</a></li>
      <li><a href="#Professional Skills and Knowledge Area">Professional Skills and Knowledge Area</a></li>
      <li><a href="#Personal skills">Personal skills</a></li>
      <li><a href="#photos">photos</a></li>
    </ul>
  </div>
  <div id="profile" class="col-lg-12">
    <h1 class="text-center">
      profile</h1>
      <p>English <img src="/assets/U-K-flag.png"></img></p>
      <p>Arabic  <img src="/assets/A-S-flag.png"></img></p>
      <hr>
  </div>
  <div id="Personal-information" class="col-lg-12">
    <h1>Personal information</h1>
      <ul>
        <li>Name: Abdulsalam Jawish</li>
        <li>Birth Date: 10.Oct.1980</li>
        <li><a href="tel: +49 17628621508">tel: +49 17628621508</a></li>
        <li>Gender: Mail</li>
        <li>Marital Status: Single</li>
        <li>Email</li>
        <li>likedin</li>
        <li>facebook <i class="fa fa-facebook" aria-hidden="true"></i>
</li>
        <li>twitter</li>
      </ul>
      <hr>
  </div>
  <div id="picture" class="col-lg-12">
    <div id=2lib-pic1" class="col-lg-6">
      <img src="/assets/library.jpg" class="img-responsive img-rounded salam"/>
    </div>
    <div id="lib-pic2" class="col-lg-6">
    <img src="/assets/Library7.jpg" class="img-responsive img-rounded salam1"/>
  </div>
  </div>
  <div id="Education" class="col-lg-12">
    <h1>
      Education
    </h1>
    <h3>
      -Bachelor of Library & Information Sc. 2000 - 2006
    </h3>
    <h3>
      -High School 1996 - 1999
    </h3>
  </div>
  <div id="Employment" class="col-lg-12">
    <h1>
      Employment
    </h1>
      <h2>
        - Librarian
      </h2>
      <p>
          College of Islamic and Arabic Studies, Dubai Jun 2012 – Aug 2015
        Dubai, UAE
      </p>
      <a href="http://www.islamic-college.ae/">www.islamic-college.ae</a>
      <h2>
        - Librarian
      </h2>
      <p>
        Al Jazeera University Apr 2008 – Apr 2011
        Deir ez-Zor, Syria
      </p>
  </div>
  <div id="Professional-Skills-and-Knowledge-Area" class="col-lg-12">
    <h1>
      Professional Skills and Knowledge Area
    </h1>
      <ul>
        <li>MARC Cataloguing</li>
        <li>Manual Cataloguing using (AACR2)</li>
        <li>Using Classification Schemes (DDC – LCC)</li>
        <li>Indexing For Articles and Books</li>
        <li>Building a relation network with publishers and book suppliers</li>
        <li>Responsible for acquisition from the local and international book fairs</li>
      </ul>
  </div>
  <div id="Personal-skills" class="col-lg-12">
    <h1>
      Personal skills
    </h1>
      <ul>
        <li>Ability to learn quickly and develop knowledge of the required product(s).</li>
        <li>Self-motivated with investigating, testing, troubleshooting, and evaluation and analysis skills.</li>
        <li>Ability to work as part/ leader for team.</li>
        <li>Ability to work under pressure for long hours.</li>
        <li>Ability to be responsible for evaluation of students or trainees.</li>
        <li>MS Office (Word, Excel, PowerPoint)</li>
      </ul>
  </div>
  <div id="photos" class="col-lg-12">
    <h1>Photos</h1>
      <div id=photo class="col-lg-3">
        <img src="/assets/library1.jpg" alt="library pic" class="img-responsive img-rounded"/></img></div>
        <div id=photo1 class="col-lg-3">
          <img src="/assets/library2.jpg" alt="" class="img-responsive img-rounded abdulsalam" /></img></div>
          <div id=photo2 class="col-lg-3">
            <img src="/assets/library4.jpg" alt="" class="img-responsive img-rounded" /></img></div>
            <div id=photo3 class="col-lg-3">
  <img src="/assets/library5.jpg" alt="" class="img-responsive img-rounded" /></img></div>
 </div>
 <div id=links class="col-lo-12">
   <h1>links</h1>
    <ul>
      <li><a href="http://www.zlb.de/">stadtbibliothek berlin</a></li>
      <li><a href="http://www.fu-berlin.de/en/einrichtungen/bibliotheken/">libraris of freie universitat</a></li>
      <li><a href="https://www.loc.gov/">library of congress</a></il>
      </ul>
 </div>
</div>
